@import "../../../../styles/variables.scss";

.home-hero {
  width: 100vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-black;

  &__wrapper {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__image-wrapper {
    min-width: 100vw;
    min-height: 70vh;
    overflow: hidden;
  }

  &__img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba($color-black, 0.52) 0%,
      rgba($color-black, 0.8) 100%
    );
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: red;
  }

  &__heading {
    color: $color-primary;
    font-family: $font-secondary;
    font-style: italic;
    font-size: 7.42rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
  }

  &__subheading {
    color: $color-white;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 7rem;
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 0.24rem;
  }
}
