@import "../../../../styles/variables.scss";

.home-guides {
  width: 100vw;
  min-height: 50vh;
  padding: 11rem 0;
  // background-color: red;

  &__container {
    grid-column: center-start / center-end;
  }
  &__heading {
    text-align: center;
    font-family: $font-secondary;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.11rem;
    font-style: italic;
    padding-bottom: 5rem;
  }

  &__slide {
    position: relative;

    &__img {
      // width: 50rem;

      &__wrapper {
        position: relative;

        &:hover .home-guides__slide__img__overlay {
          opacity: 0.5;
        }

        &:hover .home-guides__slide__img__play {
          transform: translate(-50%, -50%) scaleY(1);
        }

        &:hover .home-guides__slide__img__play__text {
          transform: translate(-50%, calc(-50%)) scaleY(1);
          transition: all 0.42s $ease 0.24s;
        }
      }

      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        mix-blend-mode: multiply;
        z-index: 1;
        opacity: 0;
        transition: all 0.42s $ease;
      }

      &__play {
        fill: $color-white;
        stroke-width: 50px;
        width: 5rem;
        height: 5rem;
        position: absolute;
        transform: translate(-50%, -50%) scaleY(0);
        z-index: 2;
        top: calc(50% - 3rem);
        left: 50%;
        transition: all 0.42s $ease 0.11s;
        cursor: pointer;

        &__text {
          position: absolute;
          display: block;
          position: absolute;
          top: calc(50% + 3rem);
          left: 50%;
          color: $color-primary;
          font-size: 1.4rem;
          z-index: 5;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 0.18rem;
          transform: translate(-50%, calc(-50% + 1.5rem)) scaleY(0);
          transition: all 1s $ease 0;
        }
      }
    }

    &__text-container {
      height: 11rem;
      padding-top: 3rem;
    }

    &__title {
      text-align: center;
      display: block;
      font-weight: 700;
      letter-spacing: 0.11rem;
      font-size: 2.24rem;
      text-transform: uppercase;
      font-style: italic;
    }
  }

  &__more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
    }
  }
}
